altair==6.1.0 ; python_version >= "3.10"
attrs==26.1.0 ; python_version >= "3.10"
blinker==1.9.0 ; python_version >= "3.10"
cachetools==7.0.6 ; python_version >= "3.10"
certifi==2026.4.22 ; python_version >= "3.10"
charset-normalizer==3.4.7 ; python_version >= "3.10"
click==8.3.3 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10" and platform_system == "Windows"
gitdb==4.0.12 ; python_version >= "3.10"
gitpython==3.1.47 ; python_version >= "3.10"
idna==3.13 ; python_version >= "3.10"
jinja2==3.1.6 ; python_version >= "3.10"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10"
jsonschema==4.26.0 ; python_version >= "3.10"
markupsafe==3.0.3 ; python_version >= "3.10"
msvc-runtime==14.44.35112 ; python_version >= "3.10" and platform_system == "Windows"
narwhals==2.20.0 ; python_version >= "3.10"
numpy==2.2.6 ; python_version >= "3.10"
packaging==26.2 ; python_version >= "3.10"
pandas==2.3.3 ; python_version >= "3.10"
pillow==12.2.0 ; python_version >= "3.10"
plotly==6.7.0 ; python_version >= "3.10"
protobuf==6.33.2 ; python_version >= "3.10"
pyarrow==24.0.0 ; python_version >= "3.10"
pydeck==0.9.2 ; python_version >= "3.10"
pyntcore==2026.1.1 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
pytz==2026.1.post1 ; python_version >= "3.10"
referencing==0.37.0 ; python_version >= "3.10"
requests==2.33.1 ; python_version >= "3.10"
robotpy-native-ntcore==2026.1.1 ; python_version >= "3.10"
robotpy-native-wpinet==2026.1.1 ; python_version >= "3.10"
robotpy-native-wpiutil==2026.1.1 ; python_version >= "3.10"
robotpy-wpinet==2026.1.1 ; python_version >= "3.10"
robotpy-wpiutil==2026.1.1 ; python_version >= "3.10"
rpds-py==0.30.0 ; python_version >= "3.10"
six==1.17.0 ; python_version >= "3.10"
smmap==5.0.3 ; python_version >= "3.10"
streamlit==1.56.0 ; python_version >= "3.10"
tenacity==9.1.4 ; python_version >= "3.10"
toml==0.10.2 ; python_version >= "3.10"
tornado==6.5.5 ; python_version >= "3.10"
typing-extensions==4.15.0 ; python_version >= "3.10"
tzdata==2026.2 ; python_version >= "3.10"
urllib3==2.6.3 ; python_version >= "3.10"
watchdog==6.0.0 ; python_version >= "3.10" and platform_system != "Darwin"
